name: Build ChucK-DMX Cross-Platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        c_compiler: [gcc, clang, cl]
        cpp_compiler: [g++, clang++, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set build output directory
      id: strings
      shell: bash
      run: |
        echo "build_output_dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: |
        cmake -B ${{ steps.strings.outputs.build_output_dir }} \
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }} \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DETCPAL_OS_TARGET=${{ matrix.os == 'windows-latest' && 'windows' || 'linux' }} \
          -DETCPAL_NET_TARGET=${{ matrix.os == 'windows-latest' && 'windows' || 'linux' }} \
          -S ${{ github.workspace }}

    - name: Build
      run: |
        cmake --build ${{ steps.strings.outputs.build_output_dir }} --config ${{ matrix.build_type }}

    - name: Upload DMX.chug artifact
      uses: actions/upload-artifact@v3
      with:
        name: DMX-chugin-${{ matrix.os }}
        path: |
          ${{ steps.strings.outputs.build_output_dir }}/Release/DMX.chug
          ${{ steps.strings.outputs.build_output_dir }}/DMX.chug
